<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite" parallel="none">
  <test name="Test">
    <classes>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo3_AddSubscrib"/>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo3_DeleteMessage"/>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo3_DeleteSubscrib"/>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo3_GetActivityPage"/>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo3_GetCommentList"/>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo3_GetHistory"/>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo3_GetMessageList"/>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo3_GetSubscrib"/>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo3_PostHistory"/>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo3_SendComment"/>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo_announcerList"/>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo_channelList"/>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo_competition"/>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo_heroList"/>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo_highlights"/>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo_latestCompetition"/>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo_MatchList"/>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo_newsList"/>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo_playerInfo"/>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo_playerList"/>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo_promote"/>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo_team"/>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo_teamCompetition"/>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo_teamRank"/>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo_video"/>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo_videoList"/>
      <class name="com.gateside.autotesting.generation.unittest.BigEyesVideo_videoUrl"/>
      <class name="com.gateside.autotesting.generation.unittest.RegisterwithInviteCodeTestCase"/>
      <class name="com.gateside.autotesting.generation.unittest.TeamTestCase"/>
    </classes>
  </test>
</suite>
